<% include ../partials/header %>
<% include ../partials/menu %>
	<div class="container">
		<br>
		<div class="jumbotron">
		  <h1 class="display-4">Fall 2018 Stats</h1>
		  <p class="lead">Detailed information on how the Buffs are doing in the 2018 Football Season!</p>
		</div>
		
		<table class="table table-bordered" id="stats_table">
			<tr>
				<th class="align-bottom" rowspan="2">Game Date</th>
				<th class="align-bottom"rowspan="2">Opposing Team Name</th>
				<th class="text-center" colspan="2">Score</th>
				<th class="align-bottom" rowspan="2">Winner</th>
			</tr>
			<tr>
				<th>Home Score</th>
				<th>Opp. Score</th>
			</tr>
			<!-- TODO: Iterate over the Football_table data here 
						1. Display the information for each row (date, name, home score, visitor score)
						2. Determine who the winner is and display it in the final column

			-->

    <% games.forEach(function(games) { %>
        <tr>
		<td><%= games.game_date %></td>
		<td><%= games.visitor_name %></td>
		<td><%= games.home_score %></td>
		<td><%= games.visitor_score %></td>
		<td><% if(games.home_score > games.visitor_score){var winner = "Colorado"}
			else{var winner = games.visitor_name}%>
		    <%- winner %>
		</td>
	</tr>
    <% }); %>

			
		</table>
		<br>
		<table class="table text-center">
			<tr>
				<th>Wins</th>
				<th>Losses</th>
			</tr>
			<tr>
				<td> <p><%- result_2[0].count %></p></td>
				<td> <p><%- result_3[0].count %></p></td>
			</tr>
		</table>
		
	</div>
<% include ../partials/footer %>
